---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Layout from '../layouts/Layout.astro'
import { SITE_TITLE } from '../consts'
import { Image } from 'astro:assets'
import Logo from '../images/logo.svg'
import { getCollection } from 'astro:content'
import PostCard from '../components/PostCard.astro'
import GitHubIcon from '../components/icons/github.astro'

const projects = await getCollection('projects')
const posts = (await getCollection('blog'))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 4)
const techWritingPosts = (await getCollection('technicalWriting'))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 4)
---

<Layout>
  <Header />

  <main class="space-y-24 py-24 sm:space-y-40 sm:py-32">
    <div class="mx-auto max-w-5xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <a href="/" class="-m-1.5 p-1.5">
          <span class="sr-only">{SITE_TITLE}</span>
          <Image class="h-8 w-auto" src={Logo} alt="" />
        </a>
        <h1
          class="mt-2 text-5xl font-semibold tracking-tight text-light sm:text-7xl"
        >
          Coner Murphy
        </h1>
        <p class="mt-8 text-pretty text-lg text-mid sm:text-xl/8">
          I'm Coner, a full-stack developer, AWS Community Builder, speaker,
          content creator, and indie hacker based in Norwich, UK 🇬🇧.
        </p>
      </div>
    </div>

    <div class="mx-auto max-w-5xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 class="w-max border-b-2 border-brand text-3xl sm:text-5xl">
          Projects
        </h2>
      </div>
      <section
        class="grid w-full grid-cols-1 gap-x-16 gap-y-10 py-12 md:grid-cols-2"
      >
        {
          projects.map(({ data: project }) => (
            <div class="group relative rounded-lg border border-mid px-3 py-4 transition-colors duration-150 ease-in-out hover:border-brand">
              <a class="flex h-full flex-col gap-y-2" href={project.url}>
                <h3 class="text-2xl transition-colors duration-150 ease-in-out group-hover:text-brand">
                  {project.name}
                </h3>
                <p class="flex-grow">{project.description}</p>
                <div class="mt-2 flex w-max gap-x-2 border-t border-dashed border-t-light pt-2">
                  {project.tech.map((tech) => (
                    <p>{tech}</p>
                  ))}
                </div>
              </a>

              {project.github_url ? (
                <a
                  href={project.github_url}
                  class="absolute right-5 top-4 transition-colors duration-150 ease-in-out hover:text-brand"
                >
                  <GitHubIcon />
                </a>
              ) : null}
            </div>
          ))
        }
      </section>
    </div>

    <div class="mx-auto max-w-5xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 class="w-max border-b-2 border-brand text-3xl sm:text-5xl">Blog</h2>
      </div>
      <section
        class="grid w-full grid-cols-1 gap-x-16 gap-y-20 py-12 md:grid-cols-2"
      >
        {
          posts.map(({ data: post }) => (
            <PostCard
              title={post.title}
              description={post.description}
              date={post.date}
              url={`/blog/${post.slug}/`}
              tags={post.topics}
            />
          ))
        }
      </section>
      <a
        href="/blog"
        class="border-t-2 border-dashed border-t-light pt-2 font-bold text-brand"
        >View all blog posts...</a
      >
    </div>

    <div class="mx-auto max-w-5xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 class="w-max border-b-2 border-brand text-3xl sm:text-5xl">
          Technical Writing
        </h2>
      </div>
      <section
        class="grid w-full grid-cols-1 gap-x-16 gap-y-20 py-12 md:grid-cols-2"
      >
        {
          techWritingPosts.map(({ data: post }) => (
            <PostCard
              title={post.title}
              description={post.description}
              date={post.date}
              url={post.url}
              tags={[post.client]}
            />
          ))
        }
      </section>
      <a
        href="/technical-writing"
        class="border-t-2 border-dashed border-t-light pt-2 font-bold text-brand"
        >View all technical writing...</a
      >
    </div>
  </main>

  <Footer />
</Layout>
