---
import type { CollectionEntry } from 'astro:content'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import FormattedDate from '../components/FormattedDate.astro'
import Layout from './Layout.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, description, date, updatedDate, topics } = Astro.props
---

<Layout title={title} description={description}>
  <Header />

  <main class="space-y-24 py-24 sm:space-y-40 sm:py-32">
    <article class="mx-auto max-w-4xl space-y-32 px-6 lg:px-8">
      <div>
        <div class="pb-16 sm:pb-24">
          <div class="flex justify-between text-sm sm:text-base">
            <div class="flex items-center gap-x-2 font-bold">
              <span class="text-brand">
                <FormattedDate date={date} />
              </span>
              {
                updatedDate ? (
                  <p>
                    // Last updated on
                    <span class="text-brand">
                      <FormattedDate date={updatedDate} />
                    </span>
                  </p>
                ) : null
              }
            </div>

            {
              topics?.length ? (
                <div class="flex gap-x-2">
                  {topics.map((topic) => (
                    <p class="font-semibold text-brand">{topic}</p>
                  ))}
                </div>
              ) : null
            }
          </div>

          <div class="space-y-2">
            <h1
              class="mt-2 text-3xl font-semibold tracking-tight text-light sm:text-5xl"
            >
              {title}
            </h1>
            <p class="mt-8 text-pretty text-lg text-mid sm:text-xl/8">
              {description}
            </p>
          </div>
        </div>
        <slot />
      </div>
    </article>
  </main>

  <Footer />
</Layout>
